<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aglaea - Forgot Password</title>
    <link rel="icon" type="image/x-icon" th:href="@{/images/bgr.jpeg}">
    <link rel="stylesheet" th:href="@{/css/login-style.css}">
</head>
<body>
<!-- Loading Screen -->
<div id="loading-screen">
    <div class="loader"></div>
</div>
<div class="wrapper">
    <h2 style="user-select: none;">Quên mật khẩu</h2>
    <form id="resetForm" th:action="@{/auth/forgot-password}" method="post">
        <div class="input-field">
            <input type="email" name="email" id="email" required>
            <input type="hidden" name="token" value="${param.token}" />
            <label>Email</label>
        </div>

        <!-- Hiển thị thông báo lỗi -->
        <div th:if="${error}" class="alert alert-danger">
            <p th:text="${error}" style="background: #e9ecef; padding: 10px; border-radius: 5px; margin-bottom: 10px"></p>
        </div>

        <!-- Hiển thị thông báo thành công -->
        <div th:if="${success}" class="alert alert-success">
            <p th:text="${success}" style="background: #d4edda; padding: 10px; border-radius: 5px;margin-bottom: 10px"></p>
        </div>

        <button type="submit" id="btn-forgot">Lấy lại mật khẩu</button>

        <div class="register">
            <p>Đã có tài khoản? <a th:href="@{/auth/login}">Đăng nhập</a></p>
        </div>
    </form>
</div>
<script th:src="@{/js/login.js}"></script>
</body>
</html>