<div th:fragment="bookList">
    <div class="row">
        <div class="col-md-3" th:each="book : ${books}">
            <div class="product-item">
                <figure class="product-style">
                    <!-- Nếu book.imageUrl là đường dẫn đầy đủ -->
                    <img th:src="${book.imageUrl}" alt="Books" class="product-item"/>
                    <button type="button" class="add-to-cart">Add to Cart</button>
                </figure>
                <figcaption>
                    <h3 th:text="${book.title}">Book Title</h3>
                    <span th:text="${book.author}">Author Name</span>
                </figcaption>
            </div>
        </div>
    </div>
</div>
